@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  font-family: 'Oswald', sans-serif;
}
body{
  display: grid;
  justify-content: center;
  
}
.container{
  display: grid;
  width: 1000px;
  grid-template-columns: 0fr 1fr 1fr 0fr 0fr;
  height: 400px;
  padding: 50px;
  grid-gap: 5px;
  
}
.one{
  border: 10px;
  border-color: black;
  width: 90px;
  height: 165px;
  display: grid;
  justify-content: center;
  border: 2px solid lightgrey;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.score{
  font-size: 30px;
  font-weight: bold;
}
.footer{
  margin-left : 80px;
  font-size : 18px;
}
